/* .xowiki-content .correct:after {content: " -- ok";}*/
form.feedback .correct {border: 1px dotted green; background-color: #aaffaa;}

/* .xowiki-content .incorrect:after {content: "-- wrong";}*/
form.feedback .incorrect {border: 1px dotted red; background-color: #ffaaaa;}

form.feedback div.form-required-mark {display:none;}